<div class="text-center border-b-2 border-primaryBlue mt-4 pb-10">
  <h1 class="font-poppins font-800 text-3xl lg:text-3xl xl:text-5xl lg:px-72 text-primaryBlue mb-2">Contacto</h1>
</div>

<div class="flex flex-col xl:flex-row justify-evenly">
  <div class="flex flex-col px-2 lg:px-20 mt-2 flex-shrink-0 gap-5">
    <h2 class="font-poppins font-800 text-2xl lg:text-3xl text-primaryBlue">Informacion de contacto</h2>
    <h2 class="font-poppins font-600 text-lg lg:text-xl text-primaryBlue">Telefono:+5492213644416</h2>
    <h2 class="font-poppins font-600 text-lg lg:text-xl text-primaryBlue">Mail: marignomaxy&#64;gmail.com</h2>
    <h2 class="font-poppins font-600 text-2xl lg:text-3xl text-primaryBlue">Redes Sociales</h2>
    <div class="flex justify-start gap-5">
      <a href="https://www.linkedin.com/in/maximiliano-marigno/">
        <img src="assets/img/icons/iconoLinkedin.svg" alt="Linkedin" class="w-10" />
      </a>
      <a href="https://github.com/marignomaxy">
        <img src="assets/img/icons/iconoGithub.svg" alt="Github" class="w-10" />
      </a>
    </div>
  </div>
  <form [formGroup]="formularioContacto" (ngSubmit)="onSubmit()" class="flex flex-wrap mt-5 lg:mt-2 px-2 lg:px-44">
    <div class="flex justify-between w-full my-1">
      <div>
        <input
          type="text"
          placeholder="Nombre"
          formControlName="nombre"
          class="bg-black dark:bg-fondoInput w-full rounded-full px-8 py-2.5 font-poppins font-400 text-xl"
          [matTooltip]="formularioContacto.get('nombre')?.errors?.['required'] && formularioContacto.get('nombre')?.touched ? 'El nombre es obligatorio' : formularioContacto.get('nombre')?.errors?.['minlength'] ? 'El nombre debe tener al menos 3 caracteres' : ''"
        />
      </div>
      <div>
        <input
          type="text"
          placeholder="Apellido"
          formControlName="apellido"
          class="bg-black dark:bg-fondoInput w-full rounded-full px-8 py-2.5 font-poppins font-400 text-xl"
          [matTooltip]="formularioContacto.get('apellido')?.errors?.['required'] && formularioContacto.get('apellido')?.touched ? 'El apellido es obligatorio' : formularioContacto.get('apellido')?.errors?.['minlength'] ? 'El apellido debe tener al menos 3 caracteres' : ''"
        />
      </div>
    </div>
    <div class="w-full my-1">
      <input
        type="text"
        placeholder="Compañia o proyecto"
        formControlName="proyecto"
        class="bg-black dark:bg-fondoInput w-full rounded-full px-8 py-2.5 font-poppins font-400 text-xl"
      />
    </div>
    <div class="w-full my-1">
      <input
        type="number"
        placeholder="Numero de telefono"
        formControlName="telefono"
        class="bg-black dark:bg-fondoInput w-full rounded-full px-8 py-2.5 font-poppins font-400 text-xl"
        [matTooltip]="formularioContacto.get('telefono')?.errors?.['required'] && formularioContacto.get('telefono')?.touched ? 'El teléfono es obligatorio' : formularioContacto.get('telefono')?.errors?.['minlength'] ? 'El teléfono debe tener al menos 10 dígitos' : formularioContacto.get('telefono')?.errors?.['maxlength'] ? 'El teléfono no puede tener más de 15 dígitos' : ''"
      />
    </div>
    <div class="w-full my-1">
      <input
        type="email"
        placeholder="Email"
        formControlName="email"
        class="bg-black dark:bg-fondoInput w-full rounded-full px-8 py-2.5 font-poppins font-400 text-xl"
        [matTooltip]="formularioContacto.get('email')?.errors?.['required'] && formularioContacto.get('email')?.touched ? 'El email es obligatorio' : formularioContacto.get('email')?.errors?.['email'] ? 'El email no es válido' : ''"
      />
    </div>
    <div class="w-full my-1">
      <input
        type="text"
        placeholder="Asunto"
        formControlName="asunto"
        class="bg-black dark:bg-fondoInput w-full rounded-full px-8 py-2.5 font-poppins font-400 text-xl"
        [matTooltip]="formularioContacto.get('asunto')?.errors?.['required'] && formularioContacto.get('asunto')?.touched ? 'El asunto es obligatorio' : ''"
      />
    </div>
    <div class="w-full my-1">
      <textarea
        placeholder="Mensaje"
        formControlName="mensaje"
        class="bg-black dark:bg-fondoInput w-full rounded-full px-8 py-2.5 font-poppins font-400 text-xl"
        [matTooltip]="formularioContacto.get('mensaje')?.errors?.['required'] && formularioContacto.get('mensaje')?.touched ? 'El mensaje es obligatorio' : formularioContacto.get('mensaje')?.errors?.['minlength'] ? 'El mensaje debe tener al menos 10 caracteres' : ''"
      ></textarea>
    </div>
    <button
      type="submit"
      [disabled]="!formularioContacto.valid"
      [ngClass]="{
        'bg-primaryBlue colorSecond': !formularioContacto.invalid,
        'bg-disableButon text-secondBlue': formularioContacto.invalid
      }"
      class="px-6 py-10 rounded-full font-poppins font-700 text-lg my-2 w-full"
    >
      Enviar Formulario
    </button>
  </form>
</div>
