<div
  class="gradient-radial xl:flex justify-around px-2 xl:px-0 text-white py-8 my-8 rounded-22"
>
  <div>
    <h2 class="font-poppins font-800 text-3xl">¿Te gustaria contactarme?</h2>
    <p class="font-poppins font-500 text-lg mb-5 xl:mb-0">
      No dudes en dejarme un mensaje; ¡será respondido lo antes posible!
    </p>
  </div>
  <button
    [routerLink]="['/contacto']"
    class="bg-grayWhite text-secondBlue font-poppins font-800 text-lg px-8 rounded-44"
  >
    Contactar
  </button>
</div>
