<div class="flex justify-between p-5 xl:p-20 bg-fondoFooter">
  <div>
    <a [routerLink]="['/']"><img src="assets/img/Logo.svg" alt="Foto" class="imagenLogo" /></a>
    <div class="flex mt-8">
      <a href="https://www.linkedin.com/in/maximiliano-marigno/" class="mx-5">
        <img src="assets/img/icons/iconoLinkedin.svg" alt="Linkedin" />
      </a>
      <a href="https://github.com/marignomaxy">
        <img src="assets/img/icons/iconoGithub.svg" alt="Github" />
      </a>
    </div>
  </div>
  <div class="text-white">
    <h2 class="font-poppins font-600 text-xl">Paginas</h2>
    <ul>
      <li class="mb-1 mt-2">
        <a [routerLink]="['/']" class="font-poppins font-400 text-lg">Inicio</a>
      </li>
      <li class="mb-1">
        <a [routerLink]="['/proyectos']" class="font-poppins font-400 text-lg">Proyectos</a>
      </li>
      <li class="mb-1">
        <a [routerLink]="['/certificados']" class="font-poppins font-400 text-lg">Certificados</a>
      </li>
      <li class="mb-1">
        <a [routerLink]="['/contacto']" class="font-poppins font-400 text-lg">Contacto</a>
      </li>
    </ul>
  </div>
</div>
<div class="bg-black flex justify-between px-5">
  <div>
    <h2 class="font-poppins font-400 text-white">Todos los derechos reservados 2024 ©</h2>
  </div>
  <div>
    <h2 class="font-poppins font-400 text-white">
      Designed by
      <a href="https://www.luovacapturerd.com/" class="underline">Luova Capture</a>
    </h2>
  </div>
</div>
