.light-theme svg {
  fill: black !important;
}

.verSecciones {
  display: flex !important;
}

nav div div div svg {
  max-width: 37px;
}

.desplegarMenu {
  display: flex;
}

.imagenLogo {
  max-width: 180px;
  width: 100%;
}
