@if (loading) {<app-loader></app-loader>} @else{
<div class="text-center border-b-2 border-primaryBlue mt-4 pb-10">
  <h1 class="font-poppins font-800 text-5xl lg:px-72 text-primaryBlue mb-2">Descripcion</h1>
</div>

<div class="flex flex-col lg:flex-row justify-center sm:items-center xl:justify-evenly mt-10">
  <img data-aos="fade-right" data-aos-duration="1000" class="p-8" src="{{ pagina.url_foto }}" alt="foto proyecto" />

  <div data-aos="fade-left" data-aos-duration="1000" class="p-8">
    <h2 class="font-poppins font-800 text-5xl dark:text-white mb-10">{{ pagina.titulo_pagina }}</h2>
    <p class="font-poppins font-500 text-lg xl:text-xl dark:text-white mb-5">{{ pagina.descripcion_pagina }}</p>
    <p class="font-poppins font-800 text-lg xl:text-xl dark:text-white">Tecnologias</p>
    <div class="flex flex-wrap mt-2 mb-2 gap-4">
      @for (tecnologia of pagina.tecnologias; track $index) {
      <img class="imgTec" src="{{ tecnologia.url_foto_tecnologia }}" alt="{{ tecnologia.tituloTecnologia }}" />
      }
    </div>

    <div class="flex gap-3 mt-5">
      <a
        href="{{ pagina.url_pagina }}"
        class="bg-primaryBlue colorSecond hover:text-white px-6 py-1 rounded-22 font-poppins font-600 text-lg my-2"
      >
        Ver pagina
      </a>

      <a
        href="{{ pagina.url_repositorio }}"
        class="bg-primaryBlue colorSecond px-6 py-1 rounded-22 font-poppins font-600 text-lg my-2"
      >
        Ver repositorio
      </a>
    </div>
  </div>
</div>
}
