.card{
    background-color: transparent;
    border: none;
    div{
        color:#273B49;
    }
    p{
        color: #687782;
    }
}

.botonCards{
    background-color: #CC0E00 !important;
    border: none !important;
}