@if (loading) {<app-loader></app-loader>} @else {
<div class="text-center border-b-2 border-primaryBlue mt-4 pb-10">
  <h1 class="font-poppins font-800 text-3xl lg:text-3xl xl:text-5xl lg:px-72 text-primaryBlue mb-2">Mis Proyectos</h1>
  <p class="font-poppins font-500 text-sm lg:text-lg xl:text-xl px-5 lg:px-72 dark:text-white text-black">
    Estos son los últimos proyectos que me enorgullece presentar. Cada uno representa un desafío único y una oportunidad
    para demostrar mis habilidades y creatividad en el desarrollo de soluciones innovadoras. ¡Espero que los disfrutes
    tanto como yo al crearlos!
  </p>
</div>
<div class="container mt-5 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 justify-items-center w-full mx-auto">
  @for (pagina of paginas; track $index) {
  <div class="m-5">
    <app-card [item]="pagina" />
  </div>
  }
</div>
}
