<div
  class="bg-white rounded-22 group overflow-hidden mb-3 xl:mb-0 maxWCard h-full border-2 border-darkGray transition-all duration-500 ease-in-out transform group-hover:scale-110"
>
  <img class="rounded-t-22" src="{{ certificado.url_foto_certificado }}" alt="imagen pagina" />
  <div
    class="relative flex flex-col justify-center items-center rounded-b-22 px-5 pb-4 xl:pb-1 pt-3 transform group-hover:-translate-y-10 transition-transform duration-500 bg-white text-center"
  >
    <h2 class="font-poppins font-700 text-2xl text-darkGray lg:overflow-ellipsis lg:overflow-hidden mb-1">
      {{ certificado.titulo_certificado }}
    </h2>

    <div class="w-4/5 opacity-0 group-hover:opacity-100 transition-opacity duration-500 mt-1">
      <div class="flex justify-center mt-1 lg:mt-5">
        <a
          href="{{ certificado.url_certificado }}"
          class="bg-primaryBlue colorSecond px-6 py-1 rounded-22 font-poppins font-600 text-lg mb-1"
        >
          Ver Certificado
        </a>
      </div>
    </div>
  </div>
</div>
